<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
    .justify-content-end{
        display:flex;
    }

    li {
        padding-right: 1rem;
    }

    #navbar2 {
        color: black;
        font-weight: 500;
        border: 3px solid transparent;
    }

        #navbar2:hover, #navbar2:focus {
            color: black;
            border-bottom: 3px solid red;
            border-radius: initial;
        }

        #navbar2:focus {
            color: darkblue;
        }

</style>
</head>

<body>

    <img src="~/images/qb.jpg" class="img-fluid" alt="Responsive image">

    <header class="d-flex justify-content-center mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item"><a id="navbar2" asp-controller="Homer" asp-action="Ways" class="nav-link">Ways to bank</a></li>
            <li class="nav-item"><a id="navbar2" asp-controller="Homer" asp-action="InstaServices" class="nav-link">Insta services </a></li>
            <li class="nav-item"><a id="navbar2" asp-controller="Homer" asp-action="CBG" class="nav-link">Convenience banking guide</a></li>
        </ul>
    </header>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>It is exiciting time to finance at SWIFT BANK.We are here for banking and eliminating fraud.It all begins with are people and with work culture designed for new age banking </p>
        </blockquote>
    </figure>
    <br>
    <br>
    <h3>WALLET</h3>
    <br>
    <img src="~/images/wallet.jpg" class="img-thumbnail">
    <br>
    <p>You use it to carry cash and Credit and Debit Cards. ... Digital Wallets are like a virtual Pre-Paid Card where you can store value the money for usage also it allows access to link your bank account, Credit card or Debit Card to make transactions in an easy, effortless manner.</p>
    <br>
    <a class="btn btn-primary" href="#" role="button">Check Wallet Balance</a>
    <br>
    <br>
    <h3>INTERNET BANKING</h3>
    <br>
    <img src="~/images/bank.jpg" class="img-thumbnail">
    <br>
    <P>we are here for banking through Internet Banking more......</P>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>