<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
    .justify-content-end{
        display:flex;
    }
    li {
        padding-right: 1rem;
    }

    #navbar2 {
        color: black;
        font-weight: 500;
        border: 3px solid transparent;
    }

        #navbar2:hover, #navbar2:focus {
            color: black;
            border-bottom: 3px solid red;
            border-radius: initial;
        }

        #navbar2:focus {
            color: darkblue;
        }
        .center{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 60%;
        }
</style>
</head>

<body>

    <img src="~/images/pod1.jpg" class="center" height="400" width="700" alt="Responsive image">

    <header class="d-flex justify-content-center mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item"><a id="navbar2"  asp-controller="Employee" asp-action="Overview" class="nav-link">Overview</a></li>
            <li class="nav-item"><a id="navbar2" href="#" class="nav-link">PodDetails </a></li>
            <li class="nav-item"><a id="navbar2" asp-controller="Employee" asp-action="Vision" class="nav-link">Vision & Mission</a></li>
        </ul>
    </header>


    <div class="card mb-3  w-50">
        <img class="card-img-top" src="~/images/ankit.jpg" height="400" width="400" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">ANKIT KUMAR</h5>
            <p class="card-text">
                PROGRAMMER ANALYST TRAINEE <br />
                EMPLOYEE ID - 2097846      <br />
                PHONE - 9719702772      <br />
                EMAIL ID - 2097846@cognizant.com
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="container justify-content-end">
        <div class="card mb-3  w-50">
            <img class="card-img-top" src="~/images/veer.jpg" height="400" width="400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Veer Pal Shakya</h5>
                <p class="card-text">
                 PROGRAMMER ANALYST TRAINEE <br />
                EMPLOYEE ID - 2097814      <br />
                PHONE - 9675740107      <br />
                EMAIL ID - 2097814@cognizant.com
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>


    <div class="card mb-3  w-50">
        <img class="card-img-top" src="~/images/sumit.jpg" height="400" width="400" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sumit Tripathi</h5>
            <p class="card-text"> PROGRAMMER ANALYST TRAINEE <br />
                EMPLOYEE ID - 2097461      <br />
                PHONE - 7985286579      <br />
                EMAIL ID - 2097461@cognizant.com</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    
    <div class="container justify-content-end">
        <div class="card mb-3  w-50">
            <img class="card-img-top" src="~/images/Prakash.jpg" height="400" width="400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Prakash Maurya</h5>
                <p class="card-text">
                PROGRAMMER ANALYST TRAINEE <br />
                EMPLOYEE ID - 2097848      <br />
                PHONE - 9936116900      <br />
                EMAIL ID - 2097848@cognizant.com
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>