@{
    ViewData["Title"] = "Login";
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SWIFT BANK</title>
    <style>

        .gradient-custom {
            background-image:radial-gradient(pink,white,skyblue); /* fallback for old browsers */
            text-align:center;
          
           /* background: -webkit-linear-gradient(to left, #ffffff, #ffffff, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
            /*background: linear-gradient(to left, #ffffff, #ffffff, #ffffff);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
    <!-- Start of ChatBot (www.chatbot.com) code -->
    <script type="text/javascript">
        window.__be = window.__be || {};
        window.__be.id = "6157088bbe55aa0007228008";
        (function () {
            var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
            be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
        })();
    </script>
    <!-- End of ChatBot code -->
</head>
<body class="gradient-custom">
    <div class="container py-5 h-100">
        <marquee><h1 style=color:#3b5998;>Welcome to Retail Banking System </h1></marquee>
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="~/Images/SWIFT.jpg" class="img-fluid" />
            </div>


            <div class="col-md-4 col-lg-5 col-xl-5 offset-xl-1" style="border:solid; height:200px;">
                <h1>Login</h1>
                <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" role="button" asp-area="" asp-controller="Login" asp-action="Index">
                    Admin
                </a>
                <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" role="button" asp-area="" asp-controller="Account" asp-action="Index">
                    User
                </a>
            </div>
        </div>
    </div>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
