<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/658c9b46-e3b3-4efd-b860-5a8b0d4a8e73/resourceGroups/ValsaResGroup/providers/Microsoft.Web/sites/ValsaBanking</ResourceId>
    <ResourceGroup>ValsaResGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://valsabanking.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bf7e45a0-4ae6-4755-a565-42b823b65757</ProjectGuid>
    <PublishUrl>https://valsabanking.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ValsaBanking</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>